<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
  <%= form.label "Select icon:", style: "display: block" %>
  <div class="icons-group">
    <%= form.collection_radio_buttons :icon, [["Food", "food.jpg"], ["Game", "game.png"], ["Teaching", "teach.jpg"], ["Health", "health.jpg"], ["Education", "study.webp"], ["Billing", "b.png"], ["Shopping", "i.webp"], ["Rolling", "4610979.png"], ["Camping", "camping.webp"]], :second, :first do |b| %>
      <%= b.label do %>
        <%= image_tag(image_path("#{b.value}"), alt: b.text, style: "max-width: 50px; max-height: 50px;") %>
        <%= b.radio_button %>
      <% end %>
    <% end %>
  </div>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
