<p style="color: green"><%= notice %></p>

<nav class='navbar'>
  <a href="<%= categories_path %>" class="back-btn">&larr;</a>
  <h3>Transactions</h3>
  <%= link_to 'Log Out', destroy_user_session_path, 'data-turbo-method': :delete, class: 'next-btn' %>
</nav>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", category_expense_path(@category, expense) %>
    </p>
  <% end %>
</div>

<div class="new-category">
  <%= link_to "New Transaction", new_category_expense_path(@category), class: 'category-btn' %>
</div>